In [ ]:
import pandas as pd

MySQL's built-in Table Data Import Wizard tool has trouble correctly parsing the csv files.
This script will convert the data in the csv files into a series of SQL Insert statements 
that can be copy-pasted into the MySQL Workbench and executed to insert the data into
their corresponding tables in the nulabs schema.

In [ ]:
# read the utf8-encoded csv files
publication = pd.read_csv('publication1.csv')
building = pd.read_csv('building1.csv')
college = pd.read_csv('college1.csv')
conducts = pd.read_csv('conducts1.csv')
lab_member = pd.read_csv('lab_member1.csv')
lab = pd.read_csv('lab1.csv')
pi = pd.read_csv('pi1.csv')
project = pd.read_csv('project1.csv')
results_in = pd.read_csv('results_in1.csv')
administrator = pd.read_csv('administrator1.csv')

## Building

In [ ]:
building

In [ ]:
for i in building.index:
    print("INSERT INTO {} values ('{}', '{}', '{}');"
          .format('building', 
                  building['name'][i], 
                  building['street'][i],
                  building['college_name'][i]))

## College

In [ ]:
for i in college.index:
    print("INSERT INTO {} values ('{}');"
          .format('college', 
                  college['Cllegename'][i]))

## Conducts

In [ ]:
for i in conducts.index:
    if(conducts['Lab'][i] in valid_labs):
        print("INSERT INTO {} values ('{}', '{}', '{}');"
              .format('conducts', 
                      conducts['LabMember'][i],
                      conducts['Project'][i], 
                      conducts['Lab'][i]))

## Lab_member

In [ ]:
for i in lab_member.index:
    #if(lab_member['lab they work in'][i] in valid_labs):
        print("INSERT INTO {} values ('{}', '{}', '{}', '{}', '{}');"
              .format('lab_member', 
                      lab_member['userName'][i],
                      lab_member['firstName'][i], 
                      lab_member['lastName'][i],
                      lab_member['degreeLevel'][i],
                      lab_member['lab they work in'][i]))

## Lab

In [ ]:
valid_labs = []
for i in lab.index:
    b = lab['building_name'][i]
    #if not(pd.isna(lab['building_name'][i])):
      #  valid_labs.append(lab['name'][i])
    print("INSERT INTO {} values ('{}', '{}', '{}', '{}', '{}', '{}');"
              .format('lab', 
                      lab['name'][i],
                      lab['lab_description'][i], 
                      lab['website'][i],
                      lab['recruitingStatus'][i],
                      lab['department'][i], b))

## PI

In [ ]:
for i in pi.index:
    if(pi['lab_name'][i] in valid_labs):
        print("INSERT INTO {} values ('{}', '{}');"
              .format('pi', 
                      pi['username'][i],
                     pi['lab_name'][i]))

## Project

In [ ]:
valid_projects=[]
for i in project.index:
    if(project['lab'][i] in valid_labs):
        valid_projects.append(project['title'][i])
        print("INSERT INTO {} values ('{}', '{}', '{}');"
              .format('project', 
                      project['title'][i],
                     project['description'][i], 
                     project['lab'][i]))

## Results_In

In [ ]:
results_in
for i in results_in.index:
    if(results_in['Project'][i] in valid_projects):
        print("INSERT INTO {} values ('{}', '{}');"
              .format('results_in', 
                      results_in['Project'][i],
                     results_in['Publication'][i]))

## Publication

for i in publication.index:
    print("INSERT INTO {} values ('{}', '{}', {}, '{}');"
          .format('publication', 
                  publication['DOI'][i], 
                  publication['title'][i], 
                  publication['publishDate'][i], 
                  publication['journal'][i]))

## Administrator

In [ ]:
for i in administrator.index:
    print("INSERT INTO {} values ('{}', '{}');"
          .format('administrator', 
                  administrator['username'][i], 
                  administrator['college_name'][i]))